body {
    background-color: #000000;
    color: #73ad21;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid #73ad21;
    padding: 10px;
}
.under {
    margin: auto;
    cursor: default;
    margin-bottom: 8px;
    display: grid;
    width: 50%;
    grid-template-columns: 33% 33% 33%;
}

.under_cell {
    text-align: center;
    border: 3px solid #73ad21;
    margin: 5px;
    width: 95%;
    min-height: 75px;
}

.under_cell_nb {
    text-align: center;
    margin: 5px;
    width: 95%;
    min-height: 75px;
}

.control {
    margin: auto;
    text-align: center;
    cursor: default;
    margin-bottom: 8px;
    display: grid;
    width: 50%;
    grid-template-columns: 100%
    border: 3px solid #73ad21;
    padding: 10px;
}

input {
    background-color: #000000;
    color: #00ff00;
    width: 20cap;
}

.controlbutton {
    background-color: #000000;
    color: #00FF00;
    border: 3px solid #73ad21;
    width: 100%;
}

.controlbutton:focus {
    border: 3px solid #534d01;
}

input:focus {
    background-color: #000000;
    width: 20cap;
    border-color: #00ff00;
    outline: none;
}
